.title p {
  font-size: 15px;
  padding-left: 5%;
  font-weight: bold;
  text-overflow: ellipsis;
  padding-top: 1%;
  height: 6vh;
  overflow: hidden;
}
.card {
  overflow: hidden;
  height: 20vh;
}

.description {
  font-size: 15px;
  padding-left: 5%;
  opacity: 0.7;
}
.prev {
  width: 25vh;
  height: 20vh;
}
